@import "tailwindcss";

:root {
  --background: #f6f4f4;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* index.css or globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Customize track background */
  border-radius: 10px; /* Round the track corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1a1919; /* Customize thumb color */
  border-radius: 10px; /* Round the thumb corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color on hover */
}
